.hidden {
    display: none;
}

/* show edit field when edited */
.todo-list li.editing .edit {
    display: block;
}

/* Hide display field when edited */
.todo-list li.editing .view {
    display: none;
}

/* completed todo */
.todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

/* Delete Button */
.todo-list li .destroy {
    float: right;
}


/* Hide edit input field */
.todo-list li .edit {
    display: none;
}