.hidden {
    display: none;
}

/* show edit field when edited */
.todo-list li.editing div.edit {
    display: block;
}

/* Hide display field when edited */
.todo-list li.editing .view {
    display: none;
}

/* completed todo */
.todo-list li.completed div {
    color: #d9d9d9;
    text-decoration: line-through;
}

/* Options Area */
.todo-list li div.view div div.options {
    float: right;
}


/* Hide edit input field */
.todo-list li div.edit {
    display: none;
}

input[type=checkbox].toggle {
    float: left;
}
