
.todo-list {
    .todo {
        height: 55px;
        line-height: 35px;

        .view {
            .options {
                float: right;
                
                button {
                    padding: 0px;
                    margin: 0 7px;
                    border: none;
                }

                i.glyphicon-remove {
                    color: darkred;
                }

                i.glyphicon-edit {
                    color: #111111;
                }

                i.glyphicon-ok {
                    color: green;
                }              
            }
        }

        .edit {
            display: none;
            margin-bottom: 0px;
        }
    } 

    .todo.editing {
        .view {
            display: none;
        }
        .edit {
            display: block;
        }
    }

    .todo.completed {
        .view {
            color: #d9d9d9;
            text-decoration: line-through;            
        }
    }
}

footer {
    .filters {
        padding: 10px 0px;
    } 
}

.list-header {
    font-size: 20px;
}

.todo-count {
    font-size: 20px;
    float: right;
}